/* NAVIGATION STYLES */
nav {
    height: 0;
    padding: 50px 0;
    text-transform: none;
}

nav ul {
    list-style: none;
    text-align: right;
    padding-top: 10px;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
}

/* HERO STYLES */

.hero {
    height: 300px;
    margin-bottom: 300px;
}

.hero h3 {
    padding-top: 150px;
    color: #2D2D3C;
}

/* ABOUT STYLES */

.about {

    padding-top: 100px;
}

/* INDEX WORK STYLES */

.work {
    height: 300px;
}

.work h4 {
    color: #2D2D3C;
}

.work a {
    text-decoration: none;
}

/* FOOTER STYLES */

.footer {
    padding-top: 100px;
}

/* MEDIA QUERIES */
